.LogOutBtn {
    color: black;
    background-color: greenyellow;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 25px;
}

.LogOutBtn:hover{
    background-color: green;
    cursor: pointer;
}

.form {
    text-align: center;
}