.App {
  background-color: black;
  height: 100vh;
  width: 100wh;
  color: greenyellow;
}

.WelcomeHead{
  padding: 50px;
  font-size: 50px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.WelcomeSub{
  margin: 10px;
  font-size: 16px;
}