.App {
  background-color: black;
  height: 100vh;
  width: 100wh;
  color: greenyellow;
}

.WelcomeHead{
  padding: 50px;
  font-size: 50px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.WelcomeSub{
  margin: 10px;
  font-size: 16px;
}

.SourceLink{
    color: black;
    background-color: greenyellow;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 25px;
}

.SourceLink:hover{
  background-color: green;
  cursor: pointer;
}

.SourceLinkWrapper{
  text-align: center;
}